<h1>All the Puppies</h1>
<% @puppies.each do |puppy| %>
<div>
<h4><%= puppy.name %></h4>
<%= image_tag (puppy.image height: "100", alt:puppy.name )%>
<button><%= link_to "MORE INFO", puppy_path(@puppy) %></button>
</div>
<% end %>
