<address>
<h1>YOU WANT TO CONTACT US?</h1>
<p><strong>Email</strong>: PUPPIESALLTHETIME@PUPPIES.PUPPIES</p>
<p><strong>Phone</strong>: 1(888)-PUPPIES</p>
<p><strong>Address</strong>: 1888 Puppies Lane, Pup, USA</p>
</address>
