// Place all the styles related to the puppies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#background{
 z-index: -10;
}

.enter {
	font-size: 48px;
	text-align: center;
	margin-top: -8%;
	z-index: 1;
}
.transparent {
	background-color: white;
	opacity: .5;
	width: 400px;
	height: 100px; 
	z-index: -4;
	margin-left: 33%;
	margin-top: -60%;
	text-align: center;
}

.text-right {
	margin-right: 40px;
	margin-top: -15%;
}

.left {

}