// Place all the styles related to the puppies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#background{
 z-index: -10;
}

#enter {

	font-size: 36px;
	text-align: right;
}